<footer class="container-fluid bg-light">
	<div class="row">
			<div>
        		<h2>Le quai Antique : les horaires</h2>
        	</div>
            {% for OpeningTime in dayMethode %}
			<div class="row">
				<div class="col-md-3 col-sm-3">
					{{OpeningTime.day}}
					{{OpeningTime.HourIn|date('H:i')}} h -
					{{OpeningTime.HourOut|date('H:i')}} h
				</div>
			</div>   
            {% endfor %}
	</div>
</footer>