<!-- Photo d'accueil du site sur chaque page côté administrateur -->
        <section id="accueil">
          <div id="container-fluid">
            <div class="row row-cols-1" id="firstRowHomePage">
              <div class="d-flex justify-content-center flex-column text-center" id="text-presentation">
                <div class="big-text">Le Quai Antique : Administration</div>
              </div>
            </div>
          </div>
        </section>