<!-- Photo d'accueil du site sur chaque page -->
        <section id="accueil">
          <div id="container-fluid">
            <div class="row row-cols-1" id="firstRowHomePage">
              <div class="d-flex justify-content-center flex-column text-center" id="text-presentation">
                <div class="text-bienvenue">Le chef Michant vous accueille sur</div>
                <div class="big-text">Le Quai Antique</div>
                <div id="type-writer" class="big-text"></div>
                <p class="Description">"Je suis heureux de vous accueillir dans mon restaurant"</p>
              </div>
            </div>
          </div>
        </section>