<!-- Photo d'accueil du site sur chaque page -->
        <section id="accueil">
          <div id="container-fluid">
            <div class="row row-cols-1" id="firstRowHomePage">
              <div class="d-flex justify-content-center flex-column text-center" id="text-presentation">
                <div class="text-bienvenue">Bienvenue !</div>
                <div class="big-text">C'est moi, le chef Michant</div>
                <div id="type-writer" class="big-text"></div>
                <p class="Description">Nous sommes heureux de vous accueillir dans notre restaurant</p>
                <div class="" id="mouseBtn">
                  <a href="#about"><i class="bi bi-mouse-fill"></i></a>
                </div>
              </div>
            </div>
          </div>
        </section>