{% extends 'base.html.twig' %}
{% block body %}
<main>
	<div class="container d-flex flex-column justify-content-center align-items-center mb-4">
		 <h1>Nous vous souhaitons la bienvenue dans notre univers gastronomique !</h1>
		 <div class="gallerie">
            {% for meal in mealMethode %}
                {% if meal.favoris == true %}
                    <div class="photo-item m-2">
                        <img class="image" src="{{ vich_uploader_asset(meal, 'imageFile') }}" alt="{{ asset(meal.title) }}">
                        <div class="middle">
                            <h3 class="text">{{ meal.title }}</h3>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
      </div>
	</div>
    <div class="row text-center mb-3">
        <a href={{path('app_reservation')}}><button type="button" class="btn btn-success">Réserver une table</button></a>
    </div>
    <div class="row text-center mb-3">
        Découvrez un lieu unique, notre personnel vous accueille avec le sourire et la bonne humeur pour vous offrir un moment de détente.
    </div>
</main>		
{% endblock %}


