{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <section class="row">
           Nos plats 
        </section>
        {% for meal in mealMethode %}
            <div class="row">
                <img class="d-block w-25" src="{{ vich_uploader_asset(meal, 'imageFile') }}" alt="{{ asset(meal.title) }}">
            </div>
        {% endfor %}
        <div>
        <a href={{'reservation'}}><button class="btn btn-primary"> Réserver une table </button></a>
        </div>
    </main>
{% endblock %}