{% extends 'base.html.twig' %}
{% block body %}
<main>
	<div class="container d-flex flex-column justify-content-center align-items-center mb-4">
		 <h1>Nous vous souhaitons la bienvenue dans notre univers gastronomique !</h1>
		 <div class="gallerie">
            {% for meal in mealMethode %}
                    <div class="photo-item m-2">
                        <img class="image" src="{{ vich_uploader_asset(meal, 'imageFile') }}" alt="{{ asset(meal.title) }}">
                        <div class="middle">
                            <h3 class="text">{{ meal.title }}</h3>
                        </div>
                    </div>
            {% endfor %}
      </div>
	</div>
</main>		
{% endblock %}


