{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <section class="row">
           Hello world
        </section>
        {% for meal in mealMethode %}
                    <img src={{vich_uploader_asset(meal, 'imageFile')}}>
            </div>
        {% endfor %}

    </main>
{% endblock %}
