{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
<div class="container mx-auto">
    <h1> Réservation de votre table</h1>
     {% include "_partials/reservation/_form.html.twig" %}
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}