{% extends 'base.html.twig' %}

{% block title %} Administration des utilisateurs{% endblock %}

{% block body %}
    <h1> Administration des utilisateurs </h1>
    <button class="btn btn-primary"> Modifier les horaires d'ouvertures et fermetures </button>
{% endblock %}
