nav{
  font-family: 'Rubik';
  font-size: 20px;
  z-index: 1000;
}

body {
    background-color: rgb(247, 246, 255);
    height: 100%;
    font-family: 'Oswald';
}
footer {
  background-color: #2da0ba;
}

html {
    box-sizing: border-box;
    height: 100%;
}

h1 {
    text-align: center;
    font-weight: lighter;
    margin: 75px;
    font-size: 3rem;
}
a{
  text-decoration: none;
  color: #2da0ba;
}
#myButton {
  background-color: #2da0ba;
  color: white;
}
#myButton:hover {
  transform: scale(1.05);
}

#myButtonDelete {
  background-color: #FFC8DD;
}

/* Logo */
.navbar-brand:hover {
  transform: scale(1.05);
}

/* La page Main*/

.gallerie {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

.photo-item {
    position: relative;
    height: 350px;
    width: 350px;
}

.photo-item img {
    display: block;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.photo-item:hover .middle {
    opacity: 0.8;
}


.photo-item:hover .image {
    opacity: 0.3;
    transform: scale(1.05);
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    color: black;
    font-size: 24px;
    padding: 16px 32px;
}

.phrase {
  font-style: italic;
  color: #FFC8DD;
  text-align: center;
}
.parallax {
  /* The image used */
  background-image: url("../../public/images/parallax.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Créer un parallax avec effet sur le scroll */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#effetParallax {
    background-color: #49494988;
}

/* Le partial photo du site*/

#firstRowHomePage {
    min-height: 50vh;
    background-image: url("../../public/images/restaurant.jpg");
    background-position: center;
  }

  .scrolled {
    background-color: white;
  }
  #text-presentation {
    background-color: #09090988;
    margin-top: -100px;
  }
  .description {
    max-width: 550px;
    margin:15px auto;
    font-size: 22px;
    color: white;
    font-style: italic;
  }
  .text-bienvenue {
    font-size: 35px;
    color: white;
  }
  .big-text {
    color: white;
    font-size: 70px;
    font-weight: bold;
  }

  /* Panneau d'administration*/
  #headerCard {
    background-color: #CDB4DB;
    color: white;
    font-weight: bold;
  }


  /* Admin/plats/index*/
  .photoPlat{
    height: 426px;
    width: 640px;
  }

  /* La carte/index.html.twig */
  #card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-shadow: 1px 1px 9px -3px #8f8f8f;
    box-shadow: 1px 1px 9px -3px #8f8f8f;
    width: 640px;
    height: 426px;
    transition: transform 0.3s;
}

