{% extends "baseAdmin.html.twig" %}

{% block title %}Administration des horaires du restaurant{% endblock %}

{% block body %}
        <main class="container">
                <section class="row">
                        <div class="col-12">
                                <h1>Modifier les horaires du restaurant</h1>
                                {% include "_partials/horaire/_form.html.twig" %}
                        </div>
                </section>
        </main>
        
{% endblock %}