      <!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
<body>
      <p>Email :
  
      <p>Nombre invités :

      <p>Message :</p>
      <div>
        Un nouveau arrivant ! 
      </div>
      	</body>
</html>

