{% extends 'base.html.twig' %}

{% block title %} Administration des horaires{% endblock %}

{% block body %}
    <h1> Administration des horaires par journées </h1>
    <button class="btn btn-primary"> Lundi </button>
    <button class="btn btn-primary"> Mardi </button>
    <button class="btn btn-primary"> Mercredi </button>
    <button class="btn btn-primary"> Jeudi </button>
    <button class="btn btn-primary"> Samedi </button>
    <button class="btn btn-primary"> Dimanche </button>
{% endblock %}
