{% extends 'base.html.twig' %}

{% block title %} Administration des plats{% endblock %}

{% block body %}
    <h1> Administration des plats</h1>
     {% include "_partials/plat/_form.html.twig" %}
{% endblock %}