{% extends 'base.html.twig' %}

{% block title %} Administration des plats{% endblock %}

{% block body %}
    <main class="container mx-auto">
                <section class="row">
                        <div class="col-12">
                                <h1>Administration des plats</h1>
                        </div>
                        {% for Meal in mealMethode %}
                        <div class="col-12">
                        {{Meal.category.title}}
                        </div>
                        <div class="col-12">
                        {{Meal.title}}
                        <a href="/admin/plats/{{Meal.id}}"><button class="btn btn-primary"> Modifier </button></a>
                        <button type="submit" class="btn btn-danger">{{ button_label|default('Supprimer') }}</button>
                        </div>
                        {% endfor %}
                        <div class="col-12">
                            <a href="/admin/plats/ajout/{{23}}"><button class="btn btn-primary"> Ajouter un plat </button></a>
                        </div>
                         <div class="carousel-inner">
                    </div>
                </section>
        </main>
{% endblock %}