{% extends "base.html.twig" %}

{% block title %}Administration des horaires du restaurant{% endblock %}

{% block body %}
        <h1> Administration des horaires du restaurant</h1>
        
{% endblock %}